@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Gilroy";

  src: local("Gilroy Light"), local("Gilroy-Light"),
  url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Gilroy";

  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Open Sans";

  src: local("Open Sans light"), local("opensans-light"),
  url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans";

  src: local("Open Sans"), local("opensans-regular"), local("Open Sans regular"),
  url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

body {
  margin: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.button {
  position: relative;
  z-index: 1;

  display: inline-block;
  padding: 0 40px;

  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  vertical-align: middle;
  text-align: center;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 4px;

  background-color: transparent;
  border: none;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.button::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 8px;

  background-color: rgb(240, 197, 46);

  -webkit-transition: all 0.4s ease;
       -o-transition: all 0.4s ease;
          transition: all 0.4s ease;
}

.button:hover::before,
.button:focus::before {
  top: 0;

  height: 40px;
}

.header-main {
  padding: 0 60px;

  background: -webkit-linear-gradient(top, rgb(255, 255, 255) 40px, rgb(247, 226, 150) 40px);
  background:      -o-linear-gradient(top, rgb(255, 255, 255) 40px, rgb(247, 226, 150) 40px);
  background:         linear-gradient(to bottom, rgb(255, 255, 255) 40px, rgb(247, 226, 150) 40px);
}

.navigation-main {
  padding-top: 22px;
  padding-bottom: 50px;
}

.header-main-logo {
  position: relative;

  line-height: 45px;
}

.header-main-logo:hover {
  opacity: 0.6;
}

.header-main-logo:active {
  opacity: 0.3;
}

.navigation-wrapper {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 100%;
}

.search-form {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 440px;
  margin-right: 100px;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 3px;

  width: 16px;
  height: 16px;

  background: url("../img/icon-search.svg") no-repeat;
}

.search-form input {
  position: relative;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 357px;
  height: 49px;
  padding: 8px 0 8px 37px;

  font: inherit;

  background-color: transparent;
  border: 2px solid transparent;
  border-bottom: 2px solid transparent;
  opacity: 0.3;
}

.search-form input:hover {
  opacity: 0.6;
}

.search-form input:focus {
  border-bottom: 2px solid rgb(0, 0, 0);
  outline: none;
  opacity: 1;
}

.search-form :focus ~ .search-form-button {
  display: block;
}

.search-form:focus-within input {
  border-bottom: 2px solid rgb(0, 0, 0);
  outline: none;
  opacity: 1;
}

.search-form:focus-within input ~ .search-form-button {
  display: block;
}

.search-form-button {
  display: none;
  width: 85px;
  height: 49px;
  margin-left: -2px;

  font: inherit;

  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
}

.search-form-button:hover {
  color: rgb(255, 255, 255);

  background-color: rgb(0, 0, 0);
}

.search-form-button:focus {
  display: block;

  color: rgb(255, 255, 255);

  background-color: rgb(0, 0, 0);
}

.search-form-button:active {
  display: block;

  color: rgba(255, 255, 255, 0.3);
}

.goods-navigation {
  margin-left: auto;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.site-navigation__item a:focus-within ~ .site-navigation-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-navigation__item:first-child {
  position: relative;

  width: 50%;
  margin-right: 20px;
}

.site-navigation__item:first-child a {
  position: relative;

  padding-right: 28px;
}

.site-navigation__item:first-child > a::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;

  width: 16px;
  height: 16px;

  background: url("../img/catalog-plus.svg") no-repeat;
  opacity: 0.3;
}

.site-navigation__item:nth-child(2) {
  margin-right: 35px;
}

.site-navigation__item:last-child {
  margin-right: -3px;
  margin-left: auto;
}

.site-navigation__item a:hover ~ .site-navigation-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-navigation-catalog:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-navigation-catalog {
  position: absolute;
  top: 24px;
  z-index: 2;

  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(200% + 120px);
  margin: 0 -60px;
  padding: 23px 60px 28px 60px;

  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans", "Arial", sans-serif;
  text-transform: initial;
  letter-spacing: normal;

  background-color: rgb(247, 226, 150);
}

.site-navigation-catalog-group {
  padding: 0;

  list-style: none;
  text-transform: none;
}

.site-navigation-catalog-group:not(:last-child) {
  margin-right: 40px;
}

.user-navigation {
  position: relative;
}

.user-navigation .login {
  padding-left: 27px;
}

.user-navigation .logout {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation svg {
  position: absolute;
  top: 10px;
  left: 0;
}

.goods-navigation {
  position: relative;
}

.goods-navigation .compare {
  margin-right: 39px;
  padding-left: 21px;
}

.compare svg {
  position: absolute;
  top: 12px;
  left: 0;
}

.goods-navigation .basket {
  padding-left: 22px;
}

.basket svg {
  position: absolute;
  top: 10px;
  right: 71px;
}

.user-navigation a,
.goods-navigation a,
.site-navigation a {
  vertical-align: middle;
  color: rgb(0, 0, 0);
}

.user-navigation a:hover,
.goods-navigation a:hover,
.site-navigation a:hover {
  opacity: 0.6;
}

.compare:hover ~ .compare-icon {
  opacity: 0.6;
}

.user-navigation a:active,
.goods-navigation a:active,
.site-navigation a:active {
  opacity: 0.3;
}

.carousel-products {
  position: relative;

  margin-bottom: 98px;

  background: -webkit-linear-gradient(top, rgb(247, 226, 150) 110px, rgb(255, 255, 255) 110px);
  background:      -o-linear-gradient(top, rgb(247, 226, 150) 110px, rgb(255, 255, 255) 110px);
  background:         linear-gradient(to bottom, rgb(247, 226, 150) 110px, rgb(255, 255, 255) 110px);
}

.carousel-list {
  position: relative;

  min-height: 495px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.carousel-list-item {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 60px;
}

.carousel-list-item--current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel-list-item::before {
  content: "";
  position: absolute;
  top: 37px;
  right: 460px;

  width: 100px;
  height: 7px;

  background-color: rgb(255, 255, 255);
}

.carousel-list-item::after {
  content: "";
  position: absolute;
  top: 60px;
  right: 46px;

  font-weight: 800;
  font-size: 172px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(255, 255, 255);
  letter-spacing: 4px;
}

.carousel-list-item:nth-child(1)::after {
  content: "01";
}

.carousel-list-item:nth-child(2)::after {
  content: "02";
}

.carousel-list-item:nth-child(3)::after {
  content: "03";
}

.carousel-list-image-wrapper {
  width: 520px;
  margin-right: 40px;

  text-align: center;
}

.carousel-list-item:nth-child(3) .carousel-list-image-wrapper {
  padding-top: 56px;
}

.carousel-list-image-wrapper img {
  margin-left: -52px;
}

.carousel-list-text-wrapper {
  position: relative;
  z-index: 1;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 520px;
  padding-top: 79px;
}

.carousel-list-text-wrapper p {
  width: 480px;
  margin-top: 20px;
  margin-bottom: 44px;

  letter-spacing: 0.13px;
}

.carousel-list-text-wrapper .button {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-bottom: 51px;
}

.carousel-list-text-wrapper table {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.carousel-list b {
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.46px;
}

.carousel-list p {
  color: rgb(70, 70, 70);
}

.carousel-parameters {
  border-collapse: collapse;
}

.carousel-parameters td:nth-child(1) {
  width: 160px;
  padding: 0;
}

.carousel-parameters td:nth-child(2) {
  width: 140px;
  padding: 0;
}

.carousel-parameters td:nth-child(3) {
  width: 200px;
  padding: 0;
}

.carousel-parameters td {
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.carousel-parameters th {
  font-weight: 300;
  font-size: 13px;
  line-height: 36px;
  color: rgb(70, 70, 70);
}

.carousel-controls {
  position: absolute;
  right: 82px;
  bottom: 152px;
  z-index: 1;

  display: inline-block;
  margin: 0;
  padding: 0;

  list-style: none;
  vertical-align: middle;
}

.carousel-controls li {
  display: inline-block;

  vertical-align: middle;
}

.carousel-controls li:not(:last-child) {
  margin-right: 18px;
}

.carousel-button {
  position: relative;

  width: 12px;
  height: 12px;
  padding: 0;

  font-size: 0;

  background-color: transparent;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
}

.carousel-button--current::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;

  width: 4px;
  height: 4px;

  border: 1px solid black;
  border-radius: 50%;
}

.categories {
  margin-bottom: 81px;
}

.categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-top: 0;
  padding: 0;

  list-style: none;
}

.categories-list__item {
  position: relative;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 160px;
  margin-bottom: 20px;
}

.categories-list__item-vr a::after {
  background-image: url("../img/popular-1.svg");
}

.categories-list__item-monopod a::after {
  background-image: url("../img/popular-2.svg");
  background-position: bottom;
}

.categories-list__item-actioncamera a::after {
  background-image: url("../img/popular-3.svg");
}

.categories-list__item-fitnesstracker a::after {
  background-image: url("../img/popular-4.svg");
}

.categories-list__item-smartwatch a::after {
  background-image: url("../img/popular-5.svg");
}

.categories-list__item-quadcopter a::after {
  background-image: url("../img/popular-6.svg");
}

.categories-list__link p {
  margin: 33px 0 0;
}

.categories-list__link {
  display: block;
  padding-top: 160px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
}

.categories-list__link:focus::before,
.categories-list__link:hover::before {
  background-color: rgb(240, 197, 46);
}

.categories-list__link:active::after {
  background-color: rgb(240, 197, 46);
  opacity: 0.3;
}

.categories-list__link:active p {
  opacity: 0.3;
}

.categories-list__link::before {
  content: "";
  position: absolute;
  top: 0;

  width: 160px;
  height: 160px;

  background-color: rgb(247, 226, 150);
}

.categories-list__link::after {
  content: "";
  position: absolute;
  top: 0;

  width: 160px;
  height: 160px;

  background-repeat: no-repeat;
  background-position: center;
}

.services {
  position: relative;

  min-width: 1200px;
  padding-top: 54px;

  background: -webkit-linear-gradient(top, #ffffff 80px, #e5e5e5 80px);
  background:      -o-linear-gradient(top, #ffffff 80px, #e5e5e5 80px);
  background:         linear-gradient(to bottom, #ffffff 80px, #e5e5e5 80px);
}

.services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.services-control,
.services-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-control {
  position: relative;

  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 280px;
  padding-top: 6px;
  padding-bottom: 113px;
}

.services-control::before {
  content: "";
  position: absolute;
  top: -74px;
  right: -4px;
  z-index: 2;

  width: 7px;
  height: calc(100% + 5px);

  background-color: rgb(0, 0, 0);
}

.services-button {
  position: relative;

  width: 160px;
  padding: 0;
}

.services-button:active {
  color: rgb(247, 225, 132);
}

.services-button:active::before {
  background-color: rgb(0, 0, 0);
}

.services-button:active::after {
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;

  width: 280px;
  height: 40px;

  background-color: rgb(0, 0, 0);
}

.services-button--current {
  color: rgb(247, 225, 132);

  background-color: rgb(0, 0, 0);
}

.services-button--current::before {
  background-color: transparent;
}

.services-button--current::after {
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;

  width: 280px;
  height: 40px;

  background-color: rgb(0, 0, 0);
}

.services-control li {
  margin-bottom: 25px;
}

.services-list {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 120px;
  padding-bottom: 68px;
}

.services-list__item {
  position: relative;

  display: none;
  width: 440px;
}

.services-list__item--current {
  display: block;
}

.services-list__item::after {
  content: "";
  position: absolute;
  top: 11px;
  right: -255px;
}

.services-list__item:nth-child(1)::after {
  width: 136px;
  height: 164px;

  background-image: url("../img/services-delivery.svg");
}

.services-list__item:nth-child(2)::after {
  width: 171px;
  height: 195px;

  background-image: url("../img/services-warranty.svg");
}

.services-list__item:nth-child(3)::after {
  width: 156px;
  height: 188px;

  background-image: url("../img/services-credit.svg");
}

.services-list h3 {
  margin-top: 0;
  margin-bottom: 31px;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 1px;
}

.services-list p {
  color: rgb(70, 70, 70);
  letter-spacing: 0.3px;
}

.brands {
  margin-top: 94px;
  margin-bottom: 46px;
}

.brands-list__item a {
  position: relative;

  display: block;
  height: 100px;

  background-color: rgb(216, 216, 216);
}

.brands-list__item a::before {
  content: "";
  position: absolute;
  bottom: 0;

  width: 260px;
  height: 100px;

  opacity: 0;
}

.brands-list__item-band-1 a::before {
  background-image: url("../img/brand-1-color.jpg");
}

.brands-list__item-band-2 a::before {
  background-image: url("../img/brand-2-color.jpg");
}

.brands-list__item-band-3 a::before {
  background-image: url("../img/brand-3-color.jpg");
}

.brands-list__item-band-4 a::before {
  background-image: url("../img/brand-4-color.jpg");
}

.brands-list__item a:hover::before,
.brands-list__item a:focus::before {
  opacity: 1;
}

.brands-list__item img {
  margin-bottom: -4px;
}

.brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% + 40px);
  margin: 0 -20px;
  padding: 0;

  list-style: none;
}

.brands-list__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(25% - 40px);
  margin: 0 20px 20px;
}

.about-contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 80px;
}

.about {
  position: relative;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  margin-right: 20px;
}

.about::before {
  content: "";
  position: absolute;

  width: 80px;
  height: 7px;

  background-color: rgb(0, 0, 0);
}

.about h2 {
  margin-top: 51px;
  margin-bottom: 44px;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.about p {
  width: 480px;
  margin-top: 0;
  margin-bottom: 31px;

  color: rgb(70, 70, 70);
  letter-spacing: 0.1px;
}

.about-list {
  margin-top: 67px;
  margin-bottom: 56px;
  padding-left: 36px;

  list-style: none;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.about-list li {
  position: relative;
}

.about-list li::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -30px;

  width: 4px;
  height: 4px;

  border: 3px solid rgb(230, 230, 230);
  border-radius: 50%;
}

.about-button {
  padding: 0 20px;
}

.contacts {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  margin-left: 20px;
}

.contacts::before {
  content: "";
  position: absolute;

  width: 80px;
  height: 7px;

  background-color: rgb(0, 0, 0);
}

.contacts h2 {
  margin-top: 51px;
  margin-bottom: 44px;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.6px;
}

.contacts p {
  margin-top: 0;
  margin-bottom: 40px;

  color: rgb(70, 70, 70);
  letter-spacing: 0.1px;
}

.contacts-map {
  display: block;
  margin-bottom: 60px;
}

.main-footer {
  min-width: 1200px;

  color: rgb(255, 255, 255);

  background-color: rgb(70, 70, 70);
}

.main-footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-top: 65px;
  padding-bottom: 65px;
}

.main-footer-top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  margin-bottom: 22px;
}

.main-footer-middle-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 62px;
}

.main-footer-middle-wrapper p {
  margin: 0;
}

.main-footer-bottom-wrapper {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 100%;
}

.main-footer-bottom-wrapper::before {
  content: "";
  position: absolute;
  top: 14px;

  width: 80px;
  height: 7px;

  background-color: rgb(240, 197, 46);
}

.main-footer-logo:hover {
  opacity: 0.6;
}

.main-footer-logo:active {
  opacity: 0.3;
}

.main-footer a {
  color: rgb(255, 255, 255);
}

.goods-navigation-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  margin-left: 44px;
}

.user-navigation-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  margin-left: auto;
}

.user-navigation-footer a,
.goods-navigation-footer a {
  color: rgba(255, 255, 255, 0.7);
}

.user-navigation-footer .logout {
  color: rgba(255, 255, 255, 0.3);
}

.site-navigation-footer {
  max-width: 640px;
  margin-right: 40px;
}

.site-navigation-footer li:nth-child(n) {
  margin-right: 38px;
}

.site-navigation-footer li:last-child {
  margin-right: 0;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-left: 27px;

  list-style: none;
}

.social-button:not(:last-child) {
  margin-right: 22px;
}

.social-button a {
  display: block;
  width: 32px;
  height: 32px;

  opacity: 0.6;
}

.social-button a:hover {
  opacity: 0.3;
}

.social-button a:active {
  opacity: 0.1;
}

.social-button a:focus {
  display: block;
  width: 32px;
  height: 32px;

  outline: 10px auto -webkit-focus-ring-color;
}

.social-button-fb a {
  background: url("../img/icon-facebook.svg") no-repeat;
}

.social-button-inst a {
  background: url("../img/icon-instagram.svg") no-repeat;
}

.social-button-tw a {
  background: url("../img/icon-twitter.svg") no-repeat;
}

.main-footer address {
  font-style: normal;
}

.main-footer a[href^="tel:"]:hover {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer a[href^="tel:"]:active {
  color: rgba(255, 255, 255, 0.3);
}

.htmlacademy-logo:hover {
  opacity: 0.6;
}

.htmlacademy-logo:active {
  opacity: 0.3;
}

.contacts-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;

  display: none;
  width: 760px;
  padding: 95px 100px 70px 100px;

  font-size: 0;

  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
          box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contacts-item {
  display: inline-block;

  vertical-align: middle;
}

.contacts-item:nth-child(1) {
  width: 360px;
  margin-right: 40px;
}

.contacts-item:nth-child(2) {
  width: 360px;
}

.contacts-item:nth-child(3) {
  width: 100%;
  margin-top: 34px;
  margin-bottom: 40px;
}

.contacts-modal label {
  display: block;
  margin-bottom: 10px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.contacts-modal input,
.contacts-modal textarea {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 16px 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgba(70, 70, 70, 0.4);

  background-color: rgb(242, 242, 242);
  border: 3px solid transparent;
  outline: none;
}

.contacts-modal textarea {
  min-width: 760px;
  max-width: 760px;
}

.contacts-modal input:hover,
.contacts-modal textarea:hover {
  background-color: rgb(234, 234, 234);
}

.contacts-modal input:focus,
.contacts-modal textarea:focus {
  color: rgba(70, 70, 70, 1);

  background-color: rgb(255, 255, 255);
  border-color: rgb(247, 226, 150);
}

.contacts-modal input:invalid,
.contacts-modal textarea:invalid {
  background-color: rgb(246, 218, 218);
}

.map {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;

  display: none;
  width: 960px;
  height: 559px;

  background-color: rgb(220, 222, 224);
  -webkit-box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
          box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.map iframe {
  position: absolute;
  z-index: 2;

  border: none;
}

.map img {
  position: absolute;
  z-index: 1;
}

.modal-button {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;

  width: 55px;
  height: 55px;
  padding: 0;

  font-size: 0;

  background: url("../img/modal-close.svg") no-repeat;
  border: none;
  opacity: 0.5;
}

.modal-button:hover {
  opacity: 1;
}

.modal-button:active {
  opacity: 0.3;
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.contacts-modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

/*catalog.html*/

.catalog-page .navigation-main {
  padding-bottom: 50px;
}

.profile {
  margin-right: 20px;
  padding-left: 27px;
}

.page-title {
  margin-top: 38px;
  margin-bottom: 23px;
  padding: 0 60px;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.5px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  margin: 0 0 45px 0;
  padding: 0;
  padding: 0 60px;

  list-style: none;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs li {
  position: relative;

  margin-right: 40px;
}

.breadcrumbs li:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -25px;

  width: 10px;
  height: 13px;

  background: url("../img/breadcrumbs-arrow.svg") no-repeat;
}

.breadcrumbs a {
  color: inherit;
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-wrapper-top {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  min-width: 1200px;
  min-height: 70px;
}

.catalog-wrapper-top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.catalog-wrapper-top-left {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.catalog-wrapper-top-left p {
  position: relative;

  width: 200px;
  margin: 0;
  margin-left: auto;
  padding-right: 68px;
  padding-left: 60px;

  font-weight: 800;
  font-size: 16px;
  line-height: 70px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.7px;

  background-color: rgb(220, 220, 220);
}

.catalog-wrapper-top-left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgb(220, 220, 220);
}

.catalog-wrapper-top-rgiht {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.catalog-wrapper-top-rgiht::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-color: rgb(239, 239, 239);
}

.catalog-colum-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  min-width: 1200px;
}

.catalog-colum-wrapper-left {
  position: relative;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  background-color: rgb(239, 239, 239);
}

.catalog-colum-wrapper-right {
  position: relative;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.filters {
  width: 200px;
  margin-left: auto;
  padding-right: 68px;
  padding-left: 60px;
}

.filters h2 {
  position: relative;

  margin: 0;

  font-weight: 800;
  font-size: 16px;
  line-height: 70px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: rgb(220, 220, 220);
}

.filter {
  padding-top: 68px;
}

.filter fieldset {
  position: relative;

  margin: 0 0 27px 0;
  padding: 0;

  border: none;
}

.filter legend {
  display: inline-block;
  width: 100%;
  padding-top: 11px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;

  border-top: 2px solid rgb(0, 0, 0);
}

.filter .range-filter {
  position: relative;

  margin-top: 35px;
}

.filter .scale {
  height: 2px;

  background: rgb(219, 219, 219);
}

.range-controls .bar {
  width: 110px;
  height: 2px;

  background: rgb(145, 201, 47);
}

.range-controls .toggle {
  position: absolute;
  top: -10px;

  width: 4px;
  height: 4px;
  padding: 0;

  background-color: rgb(171, 171, 171);
  border: 8px solid rgb(255, 255, 255);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgb(207, 207, 207);
          box-shadow: 0 2px 1px 0 rgb(207, 207, 207);
  cursor: pointer;
}

.range-controls .toggle:active {
  border-width: 9px;
}

.range-controls .toggle-min {
  left: -5;
}

.range-controls .toggle-max {
  left: 107px;
}

.price-controls {
  margin-top: 10px;

  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.2);
}

.price-controls input {
  width: 60px;

  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: left;
  color: rgba(0, 0, 0, 0.2);

  background-color: transparent;
  border: none;
}

.filter ul {
  margin-top: 17px;
  margin-bottom: 4px;
  padding-left: 0;

  list-style: none;
  font-size: 14px;
  line-height: 40px;
}

.filter-item {
  position: relative;

  padding-left: 40px;
}

.filter-item:hover .filter-item-text::before,
.filter-item:hover .filter-item-text::before {
  opacity: 0.6;
}

.filter-item:active .filter-item-text::before,
.filter-item:active .filter-item-text::before {
  opacity: 1;
}

.filter-item input:disabled + .filter-item-text::before,
.filter-item input:disabled + .filter-item-text::before,
.filter-item input:disabled + .filter-item-text,
.filter-item input:disabled + .filter-item-text {
  opacity: 0.25;
}

.filter-item input[type="checkbox"]:focus + .filter-item-text::before,
.filter-item input[type="radio"]:focus + .filter-item-text::before {
  outline: 10px auto -webkit-focus-ring-color;
}

.filter-item input[type="checkbox"] + .filter-item-text::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -3px;

  width: 34px;
  height: 34px;

  background: url("../img/checkbox-off.svg") no-repeat;
}

.filter-item input[type="checkbox"]:checked + .filter-item-text::before {
  background: url("../img/checkbox-on.svg") no-repeat;
}

.filter-item input[type="radio"] + .filter-item-text::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -3px;

  width: 30px;
  height: 30px;

  background: url("../img/radio-off.svg") no-repeat;
}

.filter-item input[type="radio"]:checked + .filter-item-text::before {
  background: url("../img/radio-on.svg") no-repeat;
}

.filter fieldset:last-of-type {
  margin-bottom: 29px;
}

.sort-wrapper {
  width: 760px;
  padding-left: 72px;

  background-color: rgb(239, 239, 239);
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background-color: rgb(239, 239, 239);
}

.sort h2 {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 800;
  font-size: 16px;
  line-height: 70px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.7px;
}

.sort-params,
.sort-direction {
  padding: 0;

  list-style: none;
}

.sort-params {
  margin-left: 50px;
}

.sort-params li {
  display: inline-block;

  vertical-align: baseline;
}

.sort-params li:not(:last-child) {
  margin-right: 26px;
}

.sort-params a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.sort-params--current a {
  color: rgb(0, 0, 0);
}

.sort-params a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-params a:active {
  color: rgba(0, 0, 0, 1);
}

.sort-direction {
  min-width: 60px;
  margin-left: auto;
}

.sort-direction a {
  margin-left: 30px;
}

.sort-direction-arrow {
  position: relative;
}

.sort-direction-arrow:hover::before {
  opacity: 0.4;
}

.sort-direction-arrow:focus::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -13px;

  width: 15px;
  height: 15px;

  outline: 10px auto -webkit-focus-ring-color;
}

.sort-direction-arrow::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -13px;

  width: 15px;
  height: 15px;

  opacity: 0.2;
}

.sort-direction--current::before {
  opacity: 1;
}

.sort-direction-arrow-inc::before {
  background: url("../img/icon-up-dir.svg") no-repeat;
}

.sort-direction-arrow-dec::before {
  background: url("../img/icon-down-dir.svg") no-repeat;
}

.catalog {
  padding-bottom: 78px;
}

.catalog-wrapper {
  width: 760px;
  margin-top: 70px;
  padding-left: 72px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-list a {
  color: rgb(0, 0, 0);
}

.catalog-list h3 {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.3px;
}

.catalog-item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 360px;
  margin-bottom: 45px;
}

.catalog-item:hover .catalog-item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-caption-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.catalog-item-price {
  width: 25%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;

  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: end;
  color: rgb(70, 70, 70);
}


.catalog-item-inner {
  position: absolute;
  top: 0;

  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 360px;
  height: 100%;

  background-color: rgba(239, 239, 239, 0.7);
}

.catalog-item-inner .button {
  margin-top: 48px;
  margin-bottom: 12px;
}

.catalog-item-inner a:not([class="button"]) {
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
}

.catalog-item-inner a:not([class="button"]):hover {
  color: rgb(0, 0, 0);
}

.catalog-item-inner a:not([class="button"]):active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-image-wrap {
  position: relative;

  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  height: 380px;
  margin: 0;
}

.catalog-image-wrap span {
  position: absolute;
  top: 28px;
  right: 26px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 56px;
  height: 56px;

  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;

  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.catalog-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  margin-top: -11px;
  padding: 0;

  list-style: none;
  text-align: center;

  background-color: rgb(234, 234, 234);
}

.catalog-pagination-number ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;

  list-style: none;
  line-height: 70px;
}

.catalog-pagination a {
  display: inline-block;
  width: 100%;

  font-weight: 800;
  font-size: 16px;
  font-family: "Gilroy", "Arial", sans-serif;
  vertical-align: middle;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.catalog-pagination-number a {
  width: 40px;

  color: rgba(0, 0, 0, 0.3);
}

.catalog-pagination-number-item:hover a {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-pagination-number-item:active a {
  color: rgba(0, 0, 0);
}

.pagination-number--current a {
  color: rgba(0, 0, 0);
}

.catalog-pagination-back,
.catalog-pagination-next {
  width: 126px;

  line-height: 70px;
}

.catalog-pagination-back:hover,
.catalog-pagination-next:hover {
  background-color: rgb(217, 217, 217);
}

.catalog-pagination-back:active a,
.catalog-pagination-next:active a {
  color: rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-51%, -50%);
            transform: translate(-51%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-49%, -50%);
            transform: translate(-49%, -50%);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-51%, -50%);
            transform: translate(-51%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-49%, -50%);
            transform: translate(-49%, -50%);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -300%);
            transform: translate(-50%, -300%);
  }

  70% {
    -webkit-transform: translate(-50%, -52%);
            transform: translate(-50%, -52%);
  }

  90% {
    -webkit-transform: translate(-50%, -49%);
            transform: translate(-50%, -49%);
  }

  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -300%);
            transform: translate(-50%, -300%);
  }

  70% {
    -webkit-transform: translate(-50%, -52%);
            transform: translate(-50%, -52%);
  }

  90% {
    -webkit-transform: translate(-50%, -49%);
            transform: translate(-50%, -49%);
  }

  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
